<template>
	<div>
		<vmq-pagination
			:value="page"
			:totalPage="980"
			:options="{
				type: 'full',
				breakpoints: {
					// large to small: that override smaller
					1024: { // screen width is lower 1024. so, this is for tablet
						type: 'compact'
					},
					580: { // screen width is lower 480. so, this is for mobile
						type: 'simple'
					}
				}
			}"
			@onPageChange="handlePageChange"
		/>
	</div>
</template>

<script>
import VmqPagination from "../Pagination.vue"

export default {
	components: {
		VmqPagination
	},

	data() {
		return {
			page: 1
		};
	},

	methods: {
		handlePageChange(pageNum) {
			this.page = pageNum
		}
	}
};
</script>

<style scoped>
div {
	font-family: Kanit;
}
</style>