.vmq-pagination-container {
	* {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	*::before,
	*::after {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	a {
		text-decoration: none;
	}

	a:active,
	a:hover {
		outline: 0;
	}

	img {
		border: 0;
		max-width: 100%;
	}

	svg:not(:root) {
		overflow: hidden;
	}

	button {
		cursor: pointer;
		-webkit-appearance: button;
		font-family: inherit;
		font-size: inherit;
		line-height: inherit;
	}

	button[disabled],
	html input[disabled] {
		cursor: default;
	}

	button::-moz-focus-inner,
	input::-moz-focus-inner {
		border: 0;
		padding: 0;
	}

	ul {
		padding: 0;
		margin: 0;
	}

	li {
		list-style: none;
	}
}