<template>
	<section :class="['vmq-pagination-container', ...wrapperClass]">
		<ul class="vmq-pagination">
			<li>
				<button
					:disabled="isFirstPage"
					class="vmq-pagination-prev"
					@click.prevent="prevPage"
				>
					<div class="text">
						<slot name="prev">
							<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAQAAAD9CzEMAAAABGdBTUEAALGPC/xhBQAAACBjSFJN
								AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElN
								RQfkBBQKGg4x+Mc2AAABjElEQVRYw7XXO0/CUBjG8b9tKCwCizcwUSOYaIy7q4mDKzXR7+i38BOo
								i4ubi5EetGpi1CBuROE9p+dmt74nPD+e3ijwz1tqXG3zzTgMWNCutDhmgy+uuWQSv0GLM5aBlA5t
								7mIDTc5ZnO4thRAycMT6n/0AIhVnJyQzM29CAiZs0pybehLyIXplV7i+vAgZKFH04xC6y3SEYicG
								ob+TIxGmR4WKQZifRYpR6LlIK9aDiSoAFE8hRDUARQhhA0DBMz0/wg4IIGwBKCh9CHsAhpT0hbmR
								cAG8CDcAhrzQcyFcAROhUDEAGPLBljDPuJ0fJpVx81uDPXFeSEN3oMEpK8L8k6sYgD7+gjIcqBvi
								H+SPuAAe8aZ3Uyl+1TXevkGd3CfetkGdnDWfeLsGmX+8DRAUX32IMnI6/vFVDTIGYfHmBhkDumHx
								pga1GPH6BjXyGPG6BpG+vR44nPmP5h0vAyn7seJlYMx7rHjdb/KY7TjxOuCR5NdZCIjXv1XcT4mg
								ePOd3OWAkhve/OPhB7oEhrCYVbz9AAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDIwLTA0LTIwVDEwOjI2
								OjE0KzAzOjAw0+VYRAAAACV0RVh0ZGF0ZTptb2RpZnkAMjAyMC0wNC0yMFQxMDoyNjoxNCswMzow
								MKK44PgAAAAASUVORK5CYII="/>
							<span v-if="showText">
								Prev
							</span>
						</slot>
					</div>
				</button>
			</li>
			<li
				v-for="(paginator, index) in filterPaginators"
				:key="index"
				class="vmq-pagination-button"
			>
				<button
					:class="paginator.btnClass"
					@click.prevent="setPage(paginator.value)"
				>
					<span class="text">
						{{ paginator.value }}
					</span>
				</button>
			</li>
			<li>
				<button
					:disabled="isLastPage"
					class="vmq-pagination-next"
					@click.prevent="nextPage"
				>
					<div class="text">
						<slot name="next">
							<span v-if="showText">
								Next
							</span>
							<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAQAAAD9CzEMAAAABGdBTUEAALGPC/xhBQAAACBjSFJN
							AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElN
							RQfkBBQKGg4x+Mc2AAABjElEQVRYw7XXO0/CUBjG8b9tKCwCizcwUSOYaIy7q4mDKzXR7+i38BOo
							i4ubi5EetGpi1CBuROE9p+dmt74nPD+e3ijwz1tqXG3zzTgMWNCutDhmgy+uuWQSv0GLM5aBlA5t
							7mIDTc5ZnO4thRAycMT6n/0AIhVnJyQzM29CAiZs0pybehLyIXplV7i+vAgZKFH04xC6y3SEYicG
							ob+TIxGmR4WKQZifRYpR6LlIK9aDiSoAFE8hRDUARQhhA0DBMz0/wg4IIGwBKCh9CHsAhpT0hbmR
							cAG8CDcAhrzQcyFcAROhUDEAGPLBljDPuJ0fJpVx81uDPXFeSEN3oMEpK8L8k6sYgD7+gjIcqBvi
							H+SPuAAe8aZ3Uyl+1TXevkGd3CfetkGdnDWfeLsGmX+8DRAUX32IMnI6/vFVDTIGYfHmBhkDumHx
							pga1GPH6BjXyGPG6BpG+vR44nPmP5h0vAyn7seJlYMx7rHjdb/KY7TjxOuCR5NdZCIjXv1XcT4mg
							ePOd3OWAkhve/OPhB7oEhrCYVbz9AAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDIwLTA0LTIwVDEwOjI2
							OjE0KzAzOjAw0+VYRAAAACV0RVh0ZGF0ZTptb2RpZnkAMjAyMC0wNC0yMFQxMDoyNjoxNCswMzow
							MKK44PgAAAAASUVORK5CYII="/>
						</slot>
					</div>
				</button>
			</li>
		</ul>
	</section>
</template>

<script>
import { getPaginations } from "../assets/js/pagination";
import { isValidType, isNumber } from "../assets/js/utils"
import { TYPE, PAGE_STATE } from "../assets/js/enum"

export default {
	name: "Pagination",

	props: {
		totalPage: {
			type: Number,
			default: 1
		},
		value: {
			type: Number,
			default: 1
		},
		containerClass: {
			type: String,
			default: ""
		},
		options: {
			type: Object,
			default: () => ({}),
			validator: (options = {}) => {
				if (options.type && !isValidType(options.type)) {
					return false;
				}

				if (typeof options.breakpoints === "object" && !Array.isArray(options.breakpoints)) {
					const isValid = (breakpoint) => [
						isNumber(breakpoint),
						isValidType(options.breakpoints[breakpoint].type),
						// add new validation here
					].every(v => v);

					return Object.keys(options.breakpoints)
						.map(isValid)
						.every(v => v);
				}

				return true;
			}
		}
	},

	data() {
		return {
			type: null,
			defaultOption: {
				type: TYPE.ENUM.FULL,
				breakpoints: {}
			}
		};
	},

	computed: {
		firstPage() {
			return 1;
		},
		lastPage() {
			return this.totalPage;
		},
		isFirstPage() {
			return this.currentPage === this.firstPage;
		},
		isLastPage() {
			return this.currentPage === this.lastPage;
		},
		currentPage() {
			return this.value;
		},
		paginators() {
			return getPaginations({
				firstPage: this.firstPage,
				lastPage: this.lastPage,
				currentPage: this.currentPage,
				offsetPage: this.offsetPage
			});
		},
		wrapperClass() {
			return [
				this.containerClass,
				this.typeClass,
				this.pageStateClass
			];
		},
		typeClass() {
			return `vmq-pagination-${this.type}`;
		},
		offsetPage() {
			const defaultOffsetPage = 1;
			const mappingOffsetPage = {
				[TYPE.ENUM.COMPACT]: 2,
				[TYPE.ENUM.FULL]: 3
			};

			return mappingOffsetPage[this.type] || defaultOffsetPage;
		},
		pageStateClass() {
			const { FIRST, MIDDLE, LAST } = PAGE_STATE.ENUM
			const { pageState } = this

			if(pageState === FIRST) {
				return "vmq-page-first";
			} else if(pageState === MIDDLE) {
				return "vmq-page-middle";
			} else if(pageState === LAST) {
				return "vmq-page-last";
			}

			return null;
		},
		filterPaginators() {
			const isSimpleType = this.type === TYPE.ENUM.SIMPLE;
			const isLastPage = this.currentPage === this.lastPage;

			// this function use to filter paginator
			const isValidConditionType = (page) => {
				// filter only `simple` type
				// such as: we have 50 total page and current page is 1
				// it should return two array only, current and last page.
				if (isSimpleType) {
					const isCurrentOrLast = page.value === this.currentPage || page.value === this.lastPage;
					return isCurrentOrLast;
				}

				return true;
			};
			const mapStatus = (page) => {
				const isDottedValue = page.value === "...";
				let enable = true;
				let clickable = true;

				if (isSimpleType || isDottedValue) {
					clickable = false;
				}

				return {
					...page,
					enable,
					clickable
				};
			};
			const applyButtonClass = (page) => {
				return {
					...page,
					btnClass: [
						'vmq-pagination-link',
						{
							'vmq-pagination-current-page': this.currentPage === page.value,
							'disabled': !page.enable,
							'unclickable': !page.clickable,
							'is-dotted': page.value === '...'
						},
						page.btnClass,
					]
				};
			};

			let results = this.paginators
				.filter(isValidConditionType)
				.map(mapStatus)
				.map(applyButtonClass);

			// for `simple` page, push `Of` to the middle of array.
			// It will be like this `1 of 50`
			if (isSimpleType && !isLastPage) {
				results.splice(1, 0, {
					value: "Of",
					enable: true,
					clickable: false,
					btnClass: 'vmq-pagination-of unclickable'
				});
			}

			return results;
		},
		mergeOptions() {
			return {
				...this.defaultOption,
				...this.options
			}
		},
		isSetBreakpoints() {
			return !!Object.keys(this.mergeOptions.breakpoints).length;
		},
		showText() {
			return this.type === TYPE.ENUM.FULL;
		},
		pageState() {
			const found2Dotted = this.filterPaginators.filter((page) => {
				return page.value === "...";
			}).length === 2;
			const foundDottedAtIndex = this.filterPaginators.findIndex((page) => {
				return page.value === "...";
			});

			if(found2Dotted) {
				return PAGE_STATE.ENUM.MIDDLE;
			} else if (foundDottedAtIndex > 1) {
				return PAGE_STATE.ENUM.FIRST;
			} else if(foundDottedAtIndex === 1) {
				return PAGE_STATE.ENUM.LAST;
			}

			return null;
		}
	},

	mounted() {
		this.type = window.innerWidth ? this.getPaginationType(window.innerWidth) : this.mergeOptions.type;

		window.addEventListener('resize', this.handleWindowResize);
	},

	methods: {
		nextPage() {
			const newPage = this.value + 1;
			this.$emit("onNextPageClicked", newPage);
			this.$emit("onPageChange", newPage);
		},
		prevPage() {
			const newPage = this.value - 1;
			this.$emit("onPrevPageClicked", newPage);
			this.$emit("onPageChange", newPage);
		},
		setPage(n) {
			this.$emit("onPageChange", n);
		},
		// this function use to get type, depends on screen width and breakpoints
		// if match any then return `type`, if not return null
		getMatchedType(screenWidth, breakpoints) {
			let matchType = null;

			for(const key of Object.keys(breakpoints)) {
				// as specific breakpoints `key` number.
				/**
					{
						480: {
							type: "simple"
						}
					}
				**/
				const breakpointWidth = key;
				if (screenWidth < breakpointWidth) {
					matchType = breakpoints[key].type;
					break;
				}
			}

			return matchType;
		},
		getPaginationType(screenWidth) {
			const { breakpoints } = this.mergeOptions;
			const matchedType = this.getMatchedType(screenWidth, breakpoints);

			return matchedType || this.mergeOptions.type;
		},
		handleWindowResize(e) {
			if(!this.isSetBreakpoints) {
				return;
			}

			const { currentTarget: { innerWidth: screenWidth } } = e;

			// if match any breakpoints then set as specific, if not set as default.
			this.type = this.getPaginationType(screenWidth);
		},
	},

	destroyed() {
		window.removeEventListener('resize', this.handleWindowResize);
	}
};
</script>

<style lang="scss">
@import "../assets/css/reset.scss";

$color-cornflower-blue-10: rgba(40, 183, 193, 0.1);
$color-cornflower-blue-25: rgba(40, 183, 193, 0.25);
$color-black-08: rgba(0, 0, 0, 0.08);
$color-black-16: rgba(0, 0, 0, 0.16);
$color-black-45: rgba(0, 0, 0, 0.45);
$color-scooter: #28b7c1;
$screen-tablet-width: 480px;

.vmq-pagination-container {
	display: inline-flex;
	align-items: center;
	justify-content: center;

	&.vmq-page-first, &.vmq-page-last {
		.vmq-pagination {
			li:last-of-type {
				margin-left: 6px;
			}

			li:first-of-type {
				margin-right: 6px;
			}
		}
	}

	.vmq-pagination {
		display: flex;

		&-link, &-prev, &-next, &-desc, &-of {
			color: $color-black-45;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 48px;
			height: 40px;
			padding: 0;
			border: none;
			background: none;
			border-radius: 3px;
			text-align: center;
			font-size: 12px;
			letter-spacing: 0.2px;
			transition: background-color 200ms, color 200ms;
			outline: none;

			&.disabled, &:disabled {
				opacity: 0.3;
				pointer-events: none;
			}

			&.unclickable {
				pointer-events: none;
			}

			&.is-dotted {
				position: relative;
				top: -4px;
				width: 12px;

				.text {
					width: 12px;
				}
			}

			.text {
				width: 44px;
				height: 20px;
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 4px;
			}
		}

		&-current-page {
			.text {
				background-color: var(--vmq-pagination-color, $color-cornflower-blue-10);
				color: rgba(0, 0, 0, 0.5);
				font-weight: bold;
			}
		}

		&-desc {
			&:hover {
				cursor: default;
			}

			&.has-one-page {
				display: none;
			}
		}

		&-link {
			&:hover:not(.vmq-pagination-current-page) {
				.text {
					background-color: $color-black-08;
					color: $color-black-45;
				}
			}
		}

		&-prev, &-next {
			width: auto;
			min-width: 48px;

			&:disabled:hover {
				cursor: default;
			}

			&:not(:disabled):hover {
				.text {
					background-color: $color-black-08;
					cursor: pointer;
				}
			}

			.text {
				width: auto;
				padding: 0 4px;

				img {
					height: 12px;
				}
			}
		}

		&-next {
			span + img {
				margin-left: 4px;
			}
		}

		&-prev {
			img + span {
				margin-left: 4px;
			}

			img {
				transform: rotate(180deg);
			}
		}

		&-link:active, &-link:active, &-prev:active, &-next:active, &-desc:active {
			.text {
				background-color: $color-black-16;
			}
		}

		&-link:focus, &-link:focus, &-prev:focus, &-next:focus, &-desc:focus {
			.text {
				box-shadow: inset 0 0 0 2px $color-cornflower-blue-25;
			}
		}
	}

	@media (min-width: $screen-tablet-width) {
		justify-content: flex-end;

		.vmq-pagination {
			&-link, &-prev, &-next, &-desc {
				height: 40px;
			}

			&-prev, &-next {
				width: auto;
				display: flex;
				align-items: center;
				justify-content: center;
			}

			&-desc {
				display: none;
			}

			&-link:not(.vmq-pagination-current-page) {
				display: flex;
			}
		}
	}
}

.vmq-pagination {
	&-simple {
		.vmq-pagination {
			&-link,
			&-link.disabled {
				.text {
					background: none;
					color: $color-black-45;
					opacity: 1;
					font-weight: normal;
				}
			}

			&-prev {
				margin-right: 55px;
			}

			&-next {
				margin-left: 55px;
			}

			&-button:nth-child(3) {
				button {
					width: auto;
				}
			}
		}
	}
}
</style>